.container {
   display: flex;
   align-items: center;
   position: fixed; 
   background-color: #fff159; 
   width: 100%;
   height: 10%;
   top: 0;
  z-index: 1;
}

@media (max-width: 768px) {

.search {
   margin-top: 30vh;
   margin-left: -30vh;
}
}