.container {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-content: center;
    display: flex;
    margin-left: 60vh;
    flex-wrap: wrap;
    width: 280px;
}

@media (max-width: 768px) {
    .container {
    margin-left: -1px;
    flex-wrap: wrap;
    margin-top: -20vh;
}
.search {
    margin-top: 30vh;
    margin-left: -30vh;
}
}

@media (max-height: 412px) {
    .container{
       margin-left: 1px;    
       flex-wrap: wrap;
    }
}